@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

aside {
  overflow-y: auto;
}
